<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<hr />
<p> Scrapbook - альбом для наклеивания вырезок. </p>
<hr />

<div class="container-sm">
  <div class="row">
    <div class="col-sm">
      Одна из трёх колонок (small)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (small)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (small)
    </div>
  </div> 
</div>

<div class="container-md">
	  <div class="row">
    <div class="col-sm">
      Одна из трёх колонок (medium)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (medium)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (medium)
    </div>
  </div>
</div>

<div class="container-lg">
	  <div class="row">
    <div class="col-sm">
      Одна из трёх колонок (large)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (large)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (large)
    </div>
  </div>
</div>

<div class="container-xl">
	  <div class="row">
    <div class="col-sm">
      Одна из трёх колонок (Extra large)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (Extra large)
    </div>
    <div class="col-sm">
      Одна из трёх колонок (Extra large)
    </div>
  </div>
</div>
