<h3 class='text-center text-primary font-weight-bold'>Hi, I'm Aleksandr from Russia.</h3>
<table class="table border border-secondary">
		<thead class="thead-light">
			<tr class="border border-secondary">
				<th> Title </th>
				<th> Discription </th>
			</tr>
		</thead>
		<tbody>
			<tr class="border border-secondary">
				<td> <h4> Name and Lucations </h4> </td>
				<td> <h4> Aleksandr Opredelentsev </h4>
					  <p> Ulyanovsk, ULY </p>
				</td>
			</tr>
			<tr class="border border-secondary">
				<td> <h4> Title profile: </h4> </td>
				<td> <h4> Web Developer with Ruby on Rails </h4> </td>
			</tr>
			<tr class="border border-secondary">
				<td> <h4>Text profile:</h4> </td>
				<td> 
					<h4>"We need a quick launch. We will grind the chamfer after the start."</h4>
					<p>Hi, I'm Aleksandr. I'm from Russia.</p>
					<p>	I will develop a ruby code.<br />
						I can create the code on the Ruby on Rails for website.<br />
						I appreciate code quality, purity, maintainability and readability.<br />
						Interested mostly in part-time jobs.
					</p>
					<div>
						<b> I have strong skills in back-end includes: </b>
						<ul> 
							<li type="circle" >  Ruby on Rails </li>
							<li type="circle" >  Sinatra </li>
							<li type="circle" >  SQLite database </li>
						</ul>
					</div>
					<div>
						<b> My front-end skills include: </b>
						<ul>
							<li type="circle" >  HTML </li>
							<li type="circle" >  CSS </li>
							<li type="circle" >  Bootstrap </li>
							<li type="circle" >  Local Storage </li>
							<li type="circle" >  Javascript </li>
						</ul>
					</div>
					<p   class="brd"> We must reach an agreement, because focusing on the Result. </p>
					<p>
						Hourly rate: $15.00
					</p>	
				</td>
			</tr>
			<tr class="border border-secondary">
				<td> <h4>Skills:</h4> </td>
				<td>
					<ol>
						<li> RubyRuby on Rails </li>
						<li> Sinatra </li>
						<li> SQLite </li> 
						<li> Active Record </li>
						<li> Bootstrap </li> 
						<li> GitHub </li>
						<li> jQuery </li> 
						<li> JavaScript </li>
						<li> CSS </li>
					</ol> 	
				</td>
			</tr>
			<tr class="border border-secondary">
				<td> <h4>Employment history:</h4> </td>
				<td> 
					<p>No items to display.</p>	
				</td>
			</tr>
			<tr class="border border-secondary">
				<td> <h4>Education:</h4> </td>
				<td> 
					<p> <h4> Ulyanovsk State Technical University </h4>
						     1989 - 1994 - "Automated Systems for Electric Drive"
					</p>	
				</td>
			</tr>
		</tbody>
	</table>